@font-face {
	font-family: 'icomoon';
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-food:before {
	content: "\e602";
}
.icon-envelope:before {
	content: "\e600";
}
.icon-user:before {
	content: "\e601";
}
.icon-chat:before {
	content: "\e603";
}
